<h1>Edit Family Relation below:</h1>


<h2>Relative: <%= User.find(@relationship[0].relative_id).full_name %></h2>

<%= form_tag "/relationships", method: :patch do %>
<div>

</div>
<%= select_tag :relative_type_id, options_for_select(@relative_type_id.collect{ |r| [r.name, r.id] })%>
<%= hidden_field_tag :user_id, @user.id%>
<%= submit_tag "Edit Family Relation" %>
<% end %>

