<div id="user-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">

      <h1 class="section-header">Edit Family Member</h1>

      <%= form_tag "/familymembers/#{@user.id}", :class => "form-inline newsfeed-center", method: :patch do  %>
        <div class="modal-body">
        <div>
          <%= label_tag :first_name %>
          <%= text_field_tag :first_name, @user.first_name, class: "form-control form-width" %>
        </div>
        <div>
          <%= label_tag :last_name %>
          <%= text_field_tag :last_name, @user.last_name, class: "form-control form-width" %>
        </div>
        <div>
          <%= label_tag :birthday %>
          <%= date_field_tag :birthday, @user.year_month_date(@user.birthday), class: "form-control form-width" %>
        </div>
        <div>
          <%= label_tag :anniversary %>
          <%= date_field_tag :anniversary, @user.year_month_date(@user.anniversary), class: "form-control form-width" %>
        </div>

        <%= submit_tag "Edit Family Member!", class: "btn btn-outline-primary" %><br>

      <% end %>
    </div>
  </div>
</div>