<%= form_tag url, method: form_method do %>

<div>
  <%= label_tag :first_name %>
  <%= text_field_tag :first_name, @user.first_name %>
</div>
<div>
  <%= label_tag :last_name %>
  <%= text_field_tag :last_name, @user.last_name %>
</div>
<div>
  <%= label_tag :email %>
  <%= text_field_tag :email, @user.email %>
</div>
<div>
  <%= label_tag :group_id %>
  <%= select_tag :group_id, options_from_collection_for_select(@groups, "id", "name", @user.group_id) %> 
  <%= link_to "My family group is not listed here.", "/myfamily/new" %>
</div>
<div>
  <%= label_tag :birthday %>
  <%= date_field_tag :birthday, @user.mm_dd_yy(@user.birthday) %>
</div>
<div>
  <%= label_tag :anniversary %>
  <%= date_field_tag :anniversary, @user.mm_dd_yy(@user.anniversary) %>
</div>

<%= submit_tag message %>

<% end %>
