<!-- Family Members Title -->
<div class="col-md-12 col-sm-12 col-xs-12 section-header index-class">
<h1>My Family Members</h1>
<h3>(You have <%= (current_user.group.users.count - 1) %> family members)</h3>

<!-- Family Members Sort Links -->
<a href="/familymembers/?sort_attribute=first_name&order=asc">Sort by Name (A-Z) |</a>
<a href="/familymembers/?sort_attribute=first_name&order=desc">Sort by Name (Z-A) |</a>
<a href="/familymembers/?sort_attribute=birthday&order=asc">Sort by Birthday (Jan-Dec)</a>
</div>

<!-- Family Member Stickies -->

<div class="stickies">
<ul>
<% @users.each do |user| %>
  <% if user != current_user %>
    <li>
      <a href="/familymembers/<%=user.id%>">
      <h1><%= user.full_name %></h1>
      <% @relationships = Relationship.where("user_id = ? AND relative_id = ? OR user_id = ? AND relative_id = ?", current_user.id, user.id, user.id, current_user.id) %>
        <% if @relationships[0] %>
          <% @relationships.each do |relationship| %>
           <% if relationship.user_id == current_user.id %>
             <h4> Relationship: <%= @relationship_name = RelativeType.find(relationship.relative_type_id).name %></h4>
             <% @relationship = relationship %>
           <% elsif relationship.relative_id == current_user.id %>
             <h4> Relationship: <%= @relationship_name = RelativeType.find(relationship.relative_type_id).inverse_name %><h4>
             <% @relationship = relationship %>
           <% end %>
         <% end %>
       <% else %>
         <h4> Relationship: Please add <h4>
       <% end %>
        <% if user.images != [] %>
          <img src="<%= user.images.first.url %>">
        <% end %>
        <h4>Birthday: <%= user.month_date(user.birthday) %></h4>
      </a>
    </li>
  <% end %>
<% end %>
</ul>
</div>

