<h1>My Family Members</h1>

<% @users.each do |user| %>
<h2>Name: <a href="/familymembers/<%=user.id%>"><%= user.full_name %></a></h2>
<h3>Email: <%= user.email %></h3>
<h3>Birthday: <%= user.birthday %></h3>
<h3>Anniversary: <%= user.anniversary %></h3>
<h3>Relation to <!--<%= current_user %>-->:
<hr>
<% end %>
