<!-- Section Header -->
      <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
        <h2><span class="highlight-text">My Family Members</span></h2>

        <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">You have <%= (current_user.group.users.count - 1) %> family members:</p>
      </div>
<!-- Section Header End -->

<% @users.each_with_index do |user, index| %>
<div class="card-deck-wrapper">
<div class="card-deck">
<div class="card card-outline-success text-xs-center" style="width: 25rem; height: 25rem">
<img class="card-img-top" src="..." alt="Card image cap">
<div class="card-block">
<h4 class="card-title"><a href="/familymembers/<%=user.id%>"><%= user.full_name %></a></h4>
<p class="card-text">Relationship:
  <% @relationships.each do |relationship| %>
  <% if User.find(relationship.relative_id).id == user.id %>
  <%= RelativeType.find(relationship.relative_type_id).name %></h3>
  <% end %>
  <% end %></p>
<p class="card-text">Birthday: <%= user.month_date(user.birthday) %></p>
<p class="card-text"><small class="text-muted"><%= user.month_date(user.updated_at) %></small></p>
</div>
</div>
<% end %>
</div>

</section>
</br>