<%= form_tag "/familymembers", method: :post do  %>

<div>
  <%= label_tag :first_name %>
  <%= text_field_tag :first_name, @user.first_name %>
</div>
<div>
  <%= label_tag :last_name %>
  <%= text_field_tag :last_name, @user.last_name %>
</div>
<div>
  <%= hidden_field_tag :group_id, current_user.group_id%>
</div>
<div>
  <%= label_tag :birthday %>
  <%= date_field_tag :birthday, @user.year_month_date(@user.birthday) %>
</div>
<div>
  <%= label_tag :anniversary %>
  <%= date_field_tag :anniversary, @user.year_month_date(@user.anniversary) %>
</div>

<%= submit_tag "Add New Family Member!" %><br>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">
    Close
  </button>
</div>
<% end %>
  
