<div class="user-profile">
  <section class="summary">
    <header>
      <h2 class="full-name"><%= @user.full_name %></h2>
      <div class="relationship metaItem">
        <h4 class="metaName">Relationship:
        <%= @relationship_name %></h4>
      </div>
    </header>
    <div class="body">
      <% if @user.images != [] %>
      <img class="profile-images" src="<%= @user.images.first.url %>" alt="<%= @user.full_name %>" class="avatar"/>
      <% end %>
      <div class="metaItem birthday">
        <h4 class="metaName">Birthday:
        <%= @user.month_date(@user.birthday) %></h4>
      </div>
      <div class="metaItem anniversary">
        <h4 class="metaName">Anniversary:
        <%= @user.month_date(@user.anniversary) %></h4>
      </div>
    </div>
    <div class="summary-edits">
      <% if current_user || current_user.admin %>
        <% if @relationship %>
          <%= link_to image_tag("parents"), "/relationships/#{@relationship.id}/edit", remote: true, class: "relationshipEdit" %>
        <% else %>
          <%= form_tag '/relationships', class: "form-control", method: :post do %>
          <%= select_tag :relative_type_id, options_for_select(@relative_type_id.collect{ |r| [r.name, r.id] }, class: "form-control")%>
          <%= hidden_field_tag :user_id, @user.id%>
          <%= image_submit_tag("add.png", class: "btn btn-secondary btn-sm") %>
          <% end %><br>
        <% end %>
        <%= link_to image_tag("edit"), "/familymembers/#{@user.id}/edit", remote: true, class: "memberEdit" %>
        <% if @user.id == current_user.id || current_user %>
        <%= link_to image_tag("garbage"), "/familymembers/#{@user.id}", :method => :delete, data: { confirm: "Are you sure you want to delete this family member?" }, class: "memberEdit" %>
        <% end %>
      <% end %>
    </div>
  </section>

  <section class="activity-feed">
    <h2><%= @user.first_name %>'s Newsfeed</h2>
      <% @reverse_status_updates = @user.status_updates.sort_by { |a| a.updated_at }.reverse %>
      <% @reverse_status_updates.each do |status_update| %>
      <ul>
        <div class="feed-item">
        <div class="date-wrapper">
          <li class="date"><%= status_update.month_date_year_time(status_update.updated_at.in_time_zone('Eastern Time (US & Canada)')) %> <% if @user.id = current_user.id || current_user.admin %><%= link_to image_tag("garbage"), "/newsfeed/#{status_update.id}", :method => :delete, data: { confirm: "Are you sure you want to delete this status update?" } %></li>
          <div class="like">
          <% if Like.where(status_update_id: status_update.id). where(user_id: current_user.id).first %>
          <% @like = Like.where(status_update_id: status_update.id). where(user_id: current_user.id).first %>
          <%= form_tag "/likes/#{@like.id}", method: :patch do  %>  
          <%= submit_tag "Like", class: "btn btn-primary btn-sm" %> :<%= status_update.likes.where(vote: true).count %>
          <% end %>
          <% else %>
            <%= form_tag "/likes", method: :post do  %>  
            <%= hidden_field_tag :status_update_id, status_update.id %>
            <%= submit_tag "Like", class: "btn btn-primary btn-sm" %> :<%= status_update.likes.where(vote: true).count %>
            <% end %>
          <% end %>
          </div>
        </div>
          <% end %>
          <li class="text"><%= status_update.post %></li>
          <% if status_update.url %>
          <li class="text"><img src="<%= status_update.url %>"></li>
          <% end %> 
        </div>
      </ul>

  <div class="comment">
    <% status_update.comments.each do |comment|%>
      <p><%= comment.user.first_name%>: <%= comment.post%> <% comment.id %>
      <% if comment.user == current_user%>
        <%= link_to image_tag("garbage"), "/comments/#{comment.id}", :method => :delete, data: { confirm: "Are you sure you want to delete this comment?" }%></p>
      <% end %>
    <% end %>
    
      <%= form_tag "/comments", class: "form-inline", method: :post do  %>
      <%= text_field_tag :post, "Enter comment", class: "form-control form-width" %>
      <%= hidden_field_tag :status_update_id, status_update.id %>
      <%= submit_tag "Add comment", class: "btn btn-outline-success" %><br>
  </div>
      <% end %>
      <hr>
      <% end %>
  </section>

  <section class="gallery">
  <div class="gallery-wrapping-div">
    <div class="header">
      <h2 class="section-header"><%= @user.first_name %>'s Gallery</h2>
      <p>(Hover over the images below to go through <%= @user.first_name %>'s gallery.)</li>  
      <% if @user.id == current_user.id || current_user.admin %>
        <%= form_tag "/images/new", remote: true, method: :get do  %>
        <%= hidden_field_tag :user_id, @user.id%>
        <%= submit_tag "Add Image", class: "btn btn-outline-warning" %><br>
      <% end %><br>
      <% end %>
    </div>

      <!-- Images -->
    <div class="image-wrapping-div">
      <ul class="images">
      <% @user.images.each do |image| %>
        <li><img class="profile-images" src="<%= image.url %>">
        <% if @user.id == current_user.id || current_user.admin %>
          <%= link_to image_tag("garbage"), "/images/#{image.id}", :method => :delete, data: { confirm: "Are you sure you want to delete this image?" } %></li>
        <% end %>
      <% end %>
      </ul>
    </div>
  </div>
</section>
</div>



