<div class="user-profile">
  <section class="summary">
    <header>
      <h2 class="full-name"><%= @user.full_name %></h2>
      <div class="relationship metaItem">
        <h3 class="metaItem metaName">Relationship:
        <%= @relationship_name %></h3>
      </div>
    </header>
    <div class="body">
      <% if @user.images != [] %>
      <img class="profile-images" src="<%= @user.images.first.url %>" alt="<%= @user.full_name %>" class="avatar"/>
      <% end %>
      <div class="metaItem birthday">
        <h3 class="metaItem metaName">Birthday:
        <%= @user.month_date(@user.birthday) %></h3>
      </div>
      <div class="metaItem anniversary">
        <h3 class="metaItem metaName">Anniversary:
        <%= @user.month_date(@user.anniversary) %></h3>
      </div>
    </div>
    <div class="summary-edits">
      <% if current_user || current_user.admin %>
        <% if @relationship %>
          <%= link_to image_tag("parents"), "/relationships/#{@relationship.id}/edit", remote: true, class: "relationshipEdit" %>
        <% else %>
          <%= form_tag '/relationships', class: "form-control", method: :post do %>
          <%= select_tag :relative_type_id, options_for_select(@relative_type_id.collect{ |r| [r.name, r.id] }, class: "form-control")%>
          <%= hidden_field_tag :user_id, @user.id%>
          <%= image_submit_tag("add.png", class: "btn btn-secondary btn-sm") %>
          <% end %><br>
        <% end %>
        <%= link_to image_tag("edit"), "/familymembers/#{@user.id}/edit", remote: true, class: "memberEdit" %>
        <% if @user.id == current_user.id || current_user %>
        <%= link_to image_tag("garbage"), "/familymembers/#{@user.id}", :method => :delete, data: { confirm: "Are you sure?" }, class: "memberEdit" %>
        <% end %>
      <% end %>
    </div>
  </section>


  <section class="gallery">
  <div class="gallery-wrapping-div">
    <div class="header">
      <h2 class="section-header"><%= @user.first_name %>'s Gallery</h2>
      <p>(Hover over the images below to go through <%= @user.first_name %>'s gallery.)</li>  
      <% if @user.id == current_user.id || current_user.admin %>
        <%= form_tag "/images/new", remote: true, method: :get do  %>
        <%= hidden_field_tag :user_id, @user.id%>
        <%= submit_tag "Add Image", class: "btn btn-outline-warning" %><br>
      <% end %><br>
      <% end %>
    </div>

      <!-- Images -->
    <div class="image-wrapping-div">
      <ul class="images">
      <% @user.images.each_with_index do |image, index| %>
        <% if index > 0 %>
          <li><img class="profile-images" src="<%= image.url %>">
          <% if @user.id == current_user.id || current_user.admin %>
            <%= link_to image_tag("garbage"), "/images/#{image.id}", :method => :delete, data: { confirm: "Are you sure?" } %></li>
          <% end %>
        <% end %>
      <% end %>
      </ul>
    </div>
  </div>
</section>
</div>



