<div class="card card-outline-success text-xs-center" style="width: 75rem;">
  <% if @user.images != [] %>
  <img class="card-img-top" src="<%= @user.images.first.url %>" alt="Card image cap">
  <% end %>
  <div class="card-block">
    <h4 class="card-title"><%= @user.full_name %></h4>
    <p class="card-text">Relationship: <%= @relationship %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Birthday: <%= @user.month_date(@user.birthday) %></li>
    <li class="list-group-item">Anniversary: <%= @user.month_date(@user.anniversary) %></li>
  </ul>
  <div class="card-block">
  <% if current_user || current_user.admin %>
  <% if @relationship != "Not available"%>
    <%= link_to "Edit relationship", "/relationships/#{@relationship_id}/edit" %><br>
  <% else %>
    <%= form_tag '/relationships', method: :post do %>
    <%= select_tag :relative_type_id, options_for_select(@relative_type_id.collect{ |r| [r.name, r.id] })%>
    <%= hidden_field_tag :user_id, @user.id%>
    <%= submit_tag 'Add relationship' %>
    <% end %><br>
  <% end %>
  <%= link_to "Edit member", "/familymembers/#{@user.id}/edit" %><br>
  <%= link_to "Delete member", "/familymembers/#{@user.id}", :method => :delete, :confirm => "Are you sure ?"%><br>
<% end %>
  </div>
</div>

<section id="portfolio" class="bgSection portfolio-section">
  <div class="container">
      <div class="row">
        <!-- Section Header -->
        <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
            <h2><span class="highlight-text"><%= @user.first_name %>'s Gallery</span></h2>
            
            <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Click the images below to go through <%= @user.first_name %>'s gallery.</p>
            
            <% if current_user || current_user.admin %>
            <div class="btn-group col-md-8 col-sm-10 col-xs-12 col-md-offset-5 col-sm-offset-1">
              <button class="btn btn-secondary btn-md dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Image options</button>
              <div class="dropdown-menu">
              <a class="dropdown-item text-xs-center" href="/images/new">Add image</a>
            </div>
            <% end %>

        </div>
        <!-- Section Header End -->
      </div>
  </div>
  <!-- Works -->
  <div class="portfolio-works wow fadeIn" data-wow-duration="2s">
    <div class="portfolio-items">
    <% @user.images.each do |image| %>
      <!-- Portfolio Items -->
      <div class="item portfolio-item">
        <img src="<%= image.url %>" alt="">
        <div class="portfolio-details-wrapper">
            <div class="portfolio-details">
                <div class="portfolio-meta-btn">
                    <ul class="work-meta">
                        <li class="lighbox"><a href="<%= image.url%>" class="featured-work-img"><i class="fa fa-search-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
      <!-- Portfolio Items End -->
      <% end %>
    </div>
  </div>
  <!-- Works End -->
</section>
<!-- Portfolio Section End -->
<br>