<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="status"></div>
    </div>
 
    <!-- Header Begin -->
    <%= render 'header.html.erb' %>
    <!-- Header End -->

    <!-- Sliders Begin -->
    <%= render 'sliders.html.erb' %>
    <!-- Sliders End -->
    
    <!-- About Section Begin -->
    <%= render 'about.html.erb' %>
    <!-- About Section End -->
     
    <!-- Services Section Begin -->
    <%= render 'services.html.erb' %>
    <!-- Services Section Begin -->
  
    <!-- Menu Section Begin -->
    <%= render 'menu.html.erb' %>
    <!-- Menu Section Begin -->

    <!-- Portfolio Section Begin -->
    <%= render 'portfolio.html.erb' %>
    <!-- Portfolio Section Begin -->

    <!-- Info Section Begin -->
    <%= render 'info.html.erb' %>
    <!-- Info Section Begin -->
    
    <!-- Teams Section Begin -->
    <%= render 'teams.html.erb' %>
    <!-- Teams Section Begin -->

    <!-- Clients Section Begin -->
    <%= render 'clients.html.erb' %>
    <!-- Clients Section Begin -->

    <!-- Contact Section Begin -->
    <%= render 'contact.html.erb' %>
    <!-- Contact Section Begin -->
    
    <%= yield %>

    <!-- Flash Messages Section Begin -->
    <%= render 'flash.html.erb' %>
    <!-- Flash Messages Section Begin -->

    <!-- Footer Section Begin -->
    <%= render 'footer.html.erb' %>
    <!-- Footer Section Begin -->

    <!-- JS Section Begin -->
    <%= render 'js.html.erb' %>
    <!-- JS Section Begin -->

</body>