<body>
    <!-- Preloader -->
 
    <!-- Header Begin -->
    <%= render 'nav.html.erb' %>
    <!-- Header End -->
    
    <%= yield %>

    <!-- Flash Messages Section Begin -->
    <%= render 'flash.html.erb' %>
    <!-- Flash Messages Section Begin -->

    <!-- Footer Section Begin -->
    <%= render 'footer.html.erb' %>
    <!-- Footer Section Begin -->

    <!-- JS Section Begin -->
    <%= render 'js.html.erb' %>
    <!-- JS Section Begin -->

</body>