<h1>Add your image below:</h2>

<%= form_tag "/images", method: :post do  %>

  <div>
    <%= label_tag :url %>
    <%= text_field_tag :url %>
  </div>
  <div>
  <%= hidden_field_tag :user_id, current_user.id%>
  </div>
  
<%= submit_tag "Submit" %><br>

<%= link_to "Cancel", "/familymembers/#{current_user.id}" %><br>

<% end %>
